html {
    background-color : beige;
    display:flex;
    justify-content: center;
    align-items : center;
    flex-flow: column wrap;
    text-align : center;
}

.login_form {
    display:flex;
    justify-content: center;
    background-image : url("https://img.freepik.com/free-vector/gradient-pastel-sky-background_23-2148917404.jpg?size=626&ext=jpg");
    padding : 40px;
    margin : 30px;
    border:solid black 1px;
    background-origin: border-box;
    background-repeat: no-repeat;
}

.add_admin {
    background-image : url("https://t3.ftcdn.net/jpg/02/38/18/34/360_F_238183482_nR674OSOksAw7UQAEI56j8wBJpnPMYm0.jpg");
    padding : 40px;
    margin : 30px;
    border:solid black 1px;
    background-origin: border-box;
    background-repeat: no-repeat;
}

.flex_horizontal{
    display : flex;
    flex-direction: row;
    justify-content: space-around;

}


.table{
    border : solid black 1px;
    margin : 30px;
    padding : 30px;
    background-image : url("https://wallpaperaccess.com/full/5509954.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;

}

div {
    padding : 10px;
}

button{
    transition: border 0.3s,font-size 0.3s;
}

button:hover{
    border : solid black 3px;
    font-size:90%;

}

input{
    transition: border 0.15s,font-size 0.15s;
}
input:focus{
    border : solid black 3px;
    font-size:90%;
  }

.Bienvenue{
    padding-bottom : 60px;
}